<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="csit6910.plugin.internal.ui.launching.LaunchDelegate"
            id="csit6910.plugin.core.launching.gentestsType"
            modes="run"
            name="Janala Launcher">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="csit6910.plugin.core.launching.gentestsType"
            icon="icons/janala/logo-32x.png"
            id="csit6910.plugin.ui.gentestsTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="csit6910.plugin.internal.ui.launching.LaunchConfigurationTabGroup"
            id="csit6910.plugin.ui.launching.gentestsTabGroup"
            type="csit6910.plugin.core.launching.gentestsType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="csit6910.plugin.internal.ui.launching.LaunchShortcut"
            icon="icons/janala/logo-small.png"
            id="csit6910.plugin.ui.launching.gentestsShortcut"
            label="Janala Test Input"
            modes="run">
         <configurationType
               id="csit6910.plugin.core.launching.gentestsType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <or>
                  <with
                        variable="selection">
                     <and>
                        <test
                              property="randoop.arraylist.isAllInSameProject">
                        </test>
                        <iterate
                              operator="or">
                           <and>
                              <adapt
                                    type="org.eclipse.jdt.core.IJavaElement">
                              </adapt>
                              <not>
                                 <adapt
                                       type="org.eclipse.core.resources.IProject">
                                 </adapt>
                              </not>
                              <test
                                    property="randoop.adaptable.isTestable">
                              </test>
                           </and>
                        </iterate>
                     </and>
                  </with>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <and>
                           <test
                                 args="org.eclipse.jdt.core.javanature"
                                 forcePluginActivation="true"
                                 property="org.eclipse.jdt.launching.hasProjectNature">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.jdt.launching.isContainer">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </or>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
